 /* a {
     text-decoration: none;
     text-shadow: -5px -2px 2px rgba(16, 64, 238, 0.482);
 }

 h1 {
     color: rgb(9, 90, 196);
 }

 a:hover {
     color: rgb(155, 162, 199);
 }


 
s
 body {} */
 .mmm{
     display: inline-flex;
     margin: 18px 30px;
     font-size: 20px;
     /* background: rgb(253, 189, 28);  */
     padding: 10px 10px;
     color: rgba(14, 1, 1, 0.834);
     padding: 4px 2px 21px 4px;
     text-decoration: none;
     list-style-type: none;
     gap: 100px;

     /* /* border-left: dotted; */

 }

 .dayo{
     list-style-type: none;
     text-decoration: none;
     margin-left: 300px;
     margin-top: -70px;
 }

 /* li{
             display: inline;
             margin: 10px 15px;
             font-size: 20px;
             background: rgb(123, 32, 208);
             padding: 8px 7px;
             color: white;
             border-left: dotted;
        }

         /* &:hover {

             color: white;
         }


         &:visited {
             color: yellow;
         }
     } */

 /* li a:hover {
     color: rgb(0, 0, 1);
     background:  rgb(253, 189, 28);
 }
 li a:link {
     color: rgb(10, 5, 5);
     text-decoration: none;
     padding: 0px 0px;
 } */
 a {
     text-decoration: none;
 }